<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count = "2" >
	<listeners>
		<listener class-name="test.Listeners"/>
	</listeners>

	<parameter name="URL" value="qaclickacademy.com"/>
	<parameter name="APIKey/Username" value="willywonka"/>
	
  <test thread-count="5" name="Personal Loan">
    <classes>
      <class name="test.Day1"> 
      	<methods>
      		<include name= "Demo"/>
      	</methods>
      </class>
      <class name="test.Day2"/>
      <class name="test.Day4"/>
    </classes>
  </test> 
  
  <test name= "Car Loan">
  	<classes>
  		<class name="test.Day3">	
  			<methods>
  				<exclude name= "API.*"/>
  			</methods>
  		</class>
  	</classes>
  </test>
</suite> 
